:root {
  --background-color: #ffffff
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  
  background-color: hsl(202, 92%, 66%);
}

#root {
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.app {
  padding: 5px;
  width: 100%;
}

.app-search {
  display: flex;
  height: 2.3rem;
  /* min-width: 50%; */
  /* width: 800px; */
  /* height: 100px; */
  /* border: 1px solid black; */
}

.app-search-input {
  flex-grow: 1;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  min-width: none;
  border: 0;
  background-color: hsl(202, 61%, 78%);
  outline: none;
  border-radius: 0.4rem 0rem 0rem 0.4rem;
}

.app-search-button {
  border: none;
  background-color: hsl(135, 76%, 53%);
  height: 100%;
  width: 10px;
  min-width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 0 0.4rem 0.5rem 0;
}

.app-search-input:focus + .app-search-button {
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  /* outline: 1px solid hsl(0, 0%, 100%); */
}
.app-search-input:focus {
  /* outline: 1px solid hsl(0, 0%, 100%); */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.app-search-img {
  max-width: 80%;
}

.app-search-autocomplete-container {
  /* display: none; */
  position: absolute; 
  top: 100%;
  left: 0;
  right: 0;
  /* width: 100%; */
  background-color: hsl(202, 61%, 78%);
}

.app-search-autocomplete-element {
  padding: 1rem 1rem 1rem 1rem;
}

.app-search-autocomplete-element:hover {
  background-color: hsl(201, 44%, 71%);
  cursor: pointer;
}

/* .app-search-input:focus + .app-search-autocomplete-container {
  display: block;
} */
